bin
obj
*.user
*.suo
App_Data
*.results.xml
/packages
*.js
*.js.map
env-*.cmd
tsconfig.json
.vs
compilation.config
*/dist/*
*.bak
# Node modules
*/node_modules/*

# Bower components
Analytics/Client/src/components/*
/SimpleWAWS/SimpleWAWS.DLL-9e40a2fab85b4e949f729b7e505550801v2.symcache
/SimpleWAWS/Properties/PublishProfiles
