<h2>Work with your {{ currentAppService.title }}</h2>
<div>
    <h3>
        Your {{ currentAppService.title }} has been created at <a ng-href="{{ getApiSiteUrl() }}" target="_blank">{{ getApiSiteUrl() }}</a>
    </h3>
    <div class="work-with-site-tools">
        <a ng-href="https://portal.azure.com/ahmelsayedhotmail.onmicrosoft.com#resource{{ resource.ApiApps[0].CsmId }}" target="_blank"><div class="work-with-site-tools-img icons sprite-MicrosoftAzure"></div><div class="website-template-name">Manage in Azure Portal</div></a>
    </div>
    <div style="margin-top: 10px; margin-bottom: 20px"><strong>Your free {{ currentAppService.title }} is available for one hour and will expire in: <span class="countdown" ng-bind="timeLeft"></span></strong></div>
    <h2>Would you like to get more for free?</h2>
    <h6>Create more web, mobile, logic and API apps. Sign up for a free 30-day trial and create up to 10 apps of any type for free.</h6>
</div>