@using SimpleWAWS.Resources
<h3 style="font-size: 23px;">@string.Format(Client.Information_ExperienceNotHereYet, "{{ currentAppService.title }}")</h3>
<h3 style="font-size: 23px;">@string.Format(Client.Information_ExperienceComingSoon, "{{ currentAppService.title }}")</h3>
<br />