@using SimpleWAWS
<h3 style="font-size: 23px;">@string.Format(ClientResources.Information_ExperienceNotHereYet, "{{ currentAppService.title }}")</h3>
<h3 style="font-size: 23px;">@string.Format(ClientResources.Information_ExperienceComingSoon, "{{ currentAppService.title }}")</h3>
<br />