<section class="wa-section wa-section-blue wa-section-mini wa-section-compute">
    <div class="wa-content">
        <h1>Create your temporary Azure App Service app</h1>
        <div class="wa-spacer">
            <h5 style="padding-top: 35px">Azure App Service is a cloud app service that integrates everything you need to quickly and easily build web and mobile apps for any platform or device.</h5>
            <h5>Be our guest for up to an hour of temporary sandboxed Azure App Service experience with no Azure subscription, free of charge and commitment. Stay longer for the full Azure App Service experience with an Azure free trial subscription.</h5>
        </div>
        <div class="wa-spacer  wa-spacer-aside wa-spacer-asideLight">
            <video width="440" controls poster="/Content/poster2.png" preload="none">
                <source src="/Content/AppService.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<div id="status-buttons" class="text-center wa-content" >
    <a ng-repeat="step in currentAppService.steps" ui-sref-active-eq="active" ui-sref="{{ step.sref }}"><span>{{ step.id }}</span> {{ step.title }}</a>
</div>

<div class="wa-content wa-content-4up wa-content-divided" ui-view></div>

<div ng-if="currentStep.id === 1" class="wa-content wa-content-4up" style="margin-top: -20px">
        <h2>Select your App Service</h2>
        <br />
        <br />
    
        <div id="appservices-div" >
            <div ng-repeat="appService in appServices" class="appservice-container box-container" ng-class="currentAppService.name === appService.name ? 'box-container-selected' : ''">
                <a class="select-appservice-anchor" href="#" ng-click="selectAppService(appService)">
                    <div class="app-service" ng-class="appService.sprite"></div>
                    <div class="appservice-name">{{ appService.title }}</div>
                </a>
            </div>
        </div>
        <br />
        <br />
        

        <!-- 
        <div class="ui-blocker"></div>
        -->
</div>

<div class="wa-content wa-content-4up wa-content-divided" style="margin-bottom: 20px">
    <a ng-if="previousStep" href="#" ng-href="{{ getStateLink(previousStep) }}" class="wa-button wa-button-gray">Previous</a>
    <a ng-if="nextStep" href="#" class="wa-button" ng-href="{{ getStateLink(nextStep) }}" ng-class="currentStep.nextClass ? currentStep.nextClass : 'wa-button-alt'">{{ currentStep.nextText ? currentStep.nextText : 'Next' }}</a>
</div>