<section class="wa-section wa-section-blue wa-section-mini wa-section-compute">
    <div class="wa-content">
        <h1>Create your temporary Azure App Service app</h1>
        <div class="wa-spacer">
            <h5 style="padding-top: 35px">Azure App Service is a cloud app service that integrates everything you need to quickly and easily build web and mobile apps for any platform or device.</h5>
            <h5>Be our guest for up to an hour of temporary sandboxed Azure App Service experience with no Azure subscription, free of charge and commitment. Stay longer for the full Azure App Service experience with an Azure free trial subscription.</h5>
        </div>
        <div class="wa-spacer  wa-spacer-aside wa-spacer-asideLight">
            <video width="440" controls poster="/Content/poster2.png" preload="none">
                <source src="/Content/AppService.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<div ng-repeat="step in currentAppService.steps">
    <a ui-sref-active="active" ui-sref="{{ step.sref }}"><span>{{ step.id }}</span> {{ step.title }}</a>
</div>

<div id="things" ui-view=""></div>


<a ng-click="swap()">swap</a>