@using SimpleWAWS.Resources
<h2>@string.Format(Client.Action_SelectTemplate, "{{ currentAppService.title }}")</h2>
<div ng-if="currentAppService.templates[0].language">
    <label for="wa-dropdown-language">Change language:</label>
    <div class="wa-dropdown-container wa-dropdown-medium">
        <select id="wa-dropdown-language" class="wa-dropdown" ng-model="ngModels.selectedLanguage" ng-options="language for language in currentAppService.templates | unique: 'language' | map: getLanguage" ng-change="changeLanguage()">
        </select>
        <span class="wa-dropdown-value">{{ ngModels.selectedLanguage }}</span>
        <span class="wa-dropdown-arrow"></span>
    </div>
</div>
<br />
<br />

<div id="templates-div">
    <div ng-repeat="template in currentAppService.templates | filterBySelectedLanguage: ngModels.selectedLanguage" class="website-template-container box-container" ng-class="selectedTemplate.name === template.name ? 'box-container-selected': ''">
        <a class="select-template-anchor" ng-click="selectTemplate(template)" ng-mouseover="onTemplateMouseOver(template)" ng-mouseleave="onTemplateMouseLeave()" href="#"> <!-- click event?-->
            <div class="icons" ng-class="template.sprite" style="width: 115px; height: 115px"></div>
            <div class="website-template-name">{{ template.name }}</div>
        </a>
    </div>
    <div style="margin-top: 30px; height: 10px; text-overflow: ellipsis; margin-bottom: 20px" ng-if="currentAppService.name === 'Mobile' || currentAppService.name === 'Logic'">
        <h5 ng-bind-html="ngModels.hoverTemplate ? ngModels.hoverTemplate.description : selectedTemplate.description"></h5>
    </div>
</div>