<h2>Work with your {{ currentAppService.title }}</h2>
<div>
    <h3>
        Your {{ currentAppService.title }} has been created at <a ng-href="{{ resource.url }}" target="_blank">{{ resource.url }}</a>
    </h3>
    <div class="work-with-site-tools" ng-if="resource.monacoUrl">
        <a ng-href="{{ resource.monacoUrl }}" target="_blank" ng-click="monacoClick()"><div class="work-with-site-tools-img icons sprite-VSO"></div><div class="website-template-name">Edit with Visual Studio Online "Monaco"</div></a>
    </div>
    <div class="work-with-site-tools" ng-if="resource.contentDownloadUrl">
        <a ng-href="{{ resource.contentDownloadUrl }}" ng-click="downloadContentClick()" target="_blank"><div class="work-with-site-tools-img icons sprite-DownloadSite"></div><div class="website-template-name">Download {{ currentAppService.title }} content</div></a>
    </div>
    <div class="work-with-site-tools">
        <a href="/api/resource/getpublishingprofile" ng-click="downloadPublishingProfileClick()" target="_blank"><div class="work-with-site-tools-img icons sprite-DownloadPublishing"></div><div class="website-template-name">Download publishing profile</div></a>
    </div>
    <div class="work-with-site-tools" ng-if="resource.gitUrl">
        <div class="work-with-site-tools-img icons sprite-git"></div>
        <a href="#" ng-click="gitLinkClick()">
            <div class="website-template-name">Clone or push with git</div>
            <input id="git-url-input" type="text" readonly="readonly" style="margin-left: -20px; margin-top: 8px; height: 20px; border: 2px inset" ng-model="resource.gitUrl" select-on-click />
        </a>
    </div>
    <div class="work-with-site-tools" ng-if="resource.ibizaUrl && resource.IsRbacEnabled">
        <a ng-href="{{ resource.ibizaUrl }}" target="_blank" ng-click="ibizaClick()"><div class="work-with-site-tools-img icons sprite-MicrosoftAzure"></div><div class="website-template-name">Manage in Azure Portal</div></a>
    </div>
    <div style="margin-top: 10px; margin-bottom: 20px"><strong>Your free {{ currentAppService.title }} is available for one hour and will expire in: <span class="countdown" ng-bind="timeLeft"></span></strong></div>
    <h2>Would you like to get more for free?</h2>
    <h6>Create more web, mobile, logic and API apps. Sign up for a free 30-day trial and create up to 10 apps of any type for free.</h6>
</div>