@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Try Azure Websites now";
}

<section class="wa-section wa-section-blue wa-section-mini wa-section-compute">
    <div class="wa-content">
        <div class="wa-spacer-9down">
            <h1>Create your website</h1>
            <h3>Create and deploy web sites in seconds, as powerful as you need them to be.</h3>
            <h4 style="width: 800px;">
                This Azure Websites trial experience does not require an Azure subscription and it is free of charge and commitment.
            </h4>
        </div>
    </div>
</section>
<section class="wa-section">
    <div class="wa-content wa-content-4up">
        <h2>1) Select a template and create your web application</h2>
        <div>
            <label for="wa-dropdown-language">Change language:</label>
            <div class="wa-dropdown-container wa-dropdown-medium">
                <select id="wa-dropdown-language" class="wa-dropdown" data-bind="foreach: languages">
                    <option class="wa-dropdown-language-option" data-bind="text: $data, attr: {value: $data}, click: function(data, event) {$root.selectLanguage(event);}"></option>
                </select>
                <span class="wa-dropdown-value" data-bind="text: selectedLanguage()"></span>
                <span class="wa-dropdown-arrow"></span>
            </div>
        </div>
        <br />
        <br />
        <div id="templates-div" data-bind="foreach: templates">
            <!-- ko if: $root.selectedLanguage() === $data.language -->
            <div class="website-template-container" data-bind="visible: true" style="display: none">
                <a class="select-template-anchor" href="#" data-bind="click: function(data, event) {data.select(event);}">
                    <div class="icons" data-bind="css: $data.icon_class" style="width: 115px; height: 115px"></div>
                    <div class="website-template-name" data-bind="text: $data.name"></div>
                </a>
            </div>
            <!-- /ko -->
        </div>
        <br />
        <br />
        <div style="display: inline; float: left; position: relative">
            <a id="create-site" onclick="handleCreateClick(event)" href="#" class="create-site-action wa-button wa-button-primary">Create</a>
            <div id="login-box" class="login-box" style="display: none">
                <div id="login-options" style="display: block; margin-left: 30px">
                    <div class="wa-heading5" style="position: relative; margin-right: 8px">Log in first to create a site</div>
                    <div class="login-option"><a href="#" onclick="handleCreateClick(event, 'aad')" class="create-site-action wa-button microsoft-login">Microsoft Account</a></div>
                    <div class="login-option"><a class="create-site-action" onclick="handleCreateClick(event, 'google')" href="#"><div class="google-login sprite-google"></div></a></div>
                    <div class="login-option"><a class="create-site-action" onclick="handleCreateClick(event, 'facebook')" href="#"><div class="facebook-login"></div></a></div>
                </div>
            </div>
        </div>
        <div class="spinner">
            <!-- ko if: createRunning  -->
            <i id="loading" class="fa fa-spinner fa-spin" title="Please wait" style="margin-top: 10px"></i>
            <!-- /ko -->
        </div>
        <div class="spinner" style="margin-left: 70px">
            <div id="error-message" style="display: none;">
                <i class="fa fa-warning" style="margin-top: 10px" data-bind="attr: {title: errorMessage}"></i>
                <span id="error-message-text" data-bind="text: errorMessage"></span>
            </div>
        </div>
        <!-- ko if: siteJson() !== undefined || createRunning -->
        <div class="ui-blocker"></div>
        <!-- /ko -->
    </div>
    <div id="work-with-your-site" class="wa-content wa-content-4up wa-content-divided">
        <h2>2) Work with your web application</h2>
        <div data-bind="visible: true" style="display: none">
            <!-- ko if: siteJson() !== undefined -->
            <div data-bind="with: siteJson">
                <h3 data-bind="if: url !== undefined, visible: true" style="display: none">
                    Your site has been created at <a data-bind="attr: {href: url}, text: url" target="_blank"></a>
                </h3>
                <div class="work-with-site-tools">
                    <a data-bind="attr: {href: monacoUrl}" target="_blank"><div class="work-with-site-tools-img icons sprite-VSO"></div><div class="website-template-name">Edit with Visual Studio Online</div></a>
                </div>
                <div class="work-with-site-tools">
                    <a data-bind="attr: {href: contentDownloadUrl}" target="_blank"><div class="work-with-site-tools-img icons sprite-DownloadSite"></div><div class="website-template-name">Download site content</div></a>
                </div>
                <div class="work-with-site-tools">
                    <a data-bind="attr: {href: '/api/site/getpublishingprofile'}" target="_blank"><div class="work-with-site-tools-img icons sprite-DownloadPublishing"></div><div class="website-template-name">Download publishing profile</div></a>
                </div>
                <div class="work-with-site-tools">
                    <div class="work-with-site-tools-img icons sprite-git"></div>
                    <a href="#" onclick="gitUrlClick(event)">
                        <div class="website-template-name">Clone or push with git</div>
                        <input id="git-url-input" type="text" readonly="readonly" onclick="this.select();" style="margin-left: -20px; margin-top: 8px; height: 20px; border: 2px inset" data-bind="value: gitUrlWithCreds">
                    </a>
                </div>
                <div class="work-with-site-tools">
                    <a data-bind="click: function(data, event) {$root.deleteSite(event);}" href="#"><div class="work-with-site-tools-img icons sprite-delete"></div><div class="website-template-name">Delete the site</div></a>
                </div>
                <div style="margin-top: 60px">Your free site will expire in : <span class="countdown" data-bind="text: timeLeft"></span></div>
            </div>
            <!-- /ko -->
        </div>
        <!-- ko if: siteJson() === undefined -->
        <div>
            <div class="work-with-site-tools">
                <a><div class="work-with-site-tools-img icons sprite-VSO"></div><div class="website-template-name">Edit with Visual Studio Online</div></a>
            </div>
            <div class="work-with-site-tools">
                <a><div class="work-with-site-tools-img icons sprite-DownloadSite"></div><div class="website-template-name">Download site content</div></a>
            </div>
            <div class="work-with-site-tools">
                <a><div class="work-with-site-tools-img icons sprite-DownloadPublishing"></div><div class="website-template-name">Download publishing profile</div></a>
            </div>
            <div class="work-with-site-tools">
                <a><div class="work-with-site-tools-img icons sprite-git"></div><div class="website-template-name">Clone or push with git</div></a>
            </div>
            <div class="work-with-site-tools">
                <a><div class="work-with-site-tools-img icons sprite-delete"></div><div class="website-template-name">Delete the site</div></a>
            </div>
        </div>
        <div class="ui-blocker"></div>
        <!-- /ko -->
    </div>

    <div class="wa-content wa-content-4up wa-content-divided">
        <h2>3) Get more for free</h2>
        <h3 style="font-size: 23px;">Create your own website. Sign up for a free 30-day trial and create up to 10 websites for free.</h3>
        <br />
        <a href="http://azure.microsoft.com/en-us/pricing/free-trial/?WT.mc_id=try_websites" target="_blank" id="free-trial-step" onclick="freeTrialClick(event);" class="wa-button wa-button-primary">Free trial</a>
    </div>
</section>
<div id="site-expired" style="display: none">
    <div class="full-site-blocker"></div>
    <div class="site-expired-notification-blade">
        <div class="site-expired-notification">
            <h2 style="color: white; margin-bottom: 90px">Your site has expired. You can try creating another site or signup for a free 30-day trial account.</h2>
            <a id="dismiss-site-expire" href="#" class="wa-button wa-button-slate">Dismiss</a>
            <a href="http://azure.microsoft.com/en-us/pricing/free-trial/?WT.mc_id=try_websites" id="free-trial-dismiss" target="_blank" onclick="freeTrialClick(event);" class="wa-button wa-button-primary">Free trial</a>
        </div>
    </div>
</div>
<div id="login-dark-blocker" class="dark-full-site-blocker" style="display: none"></div>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
<script type="text/javascript" src="/Scripts/site.js"></script>