@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Try It Now";
}
<div>
    <div>
        <h3 class="page-header">1) Select a template for your web application</h3>
        <div class="btn-group languages" data-toggle="buttons-radio" data-bind="foreach: languages">
            <button type="button" class="btn btn-lg btn-primary language" data-bind="text: $data, click: function(data, event) {$root.selectLanguage(event);}"></button>
        </div>
        <div class="btn-group templates" data-toggle="buttons-radio" data-bind="foreach: templates">
            <div style="display: inline" data-toggle="buttons-radio" data-bind="if: $root.selectedLanguage() === $data.language">
                <button type="button" class="btn btn-lg btn-default" data-bind="text: $data.name, click: function(data, event) {$data.select(event);}"></button>
            </div>
        </div>
    </div>
    <div>
        <h3 class="page-header">2) Create your web application</h3>
        <button id="create-site" type="button" class="btn btn-lg btn-success">Create Site</button>
        <div class="spinner">
            <i id="loading" class="fa fa-spinner fa-spin" title="Please wait" style="display: none"></i>
        </div>
    </div>
    <div>
        <h3 class="page-header">3) Work with your web application</h3>
        <div class="site-section" data-bind="if: siteJson() !== undefined, visible: true" style="display: none">
            <div style="font-size: 5em">Your site is: <a data-bind="attr: {href: siteJson().url}" target="_blank"><span class="site-info-valid" data-bind="text: siteJson().name"></span></a></div>
            <div style="font-size: 3em">You have: <span class="countdown" data-bind="text: siteJson().timeLeftString"></span></div>
            <div class="btn-group-lg ">
                <a data-bind="attr: {href: siteJson().url}" class="btn btn-success btn-lg" target="_blank">Run it</a>
                <a data-bind="attr: {href: siteJson().monacoUrl}" class="btn btn-primary btn-lg" target="_blank">Edit in Visual Studio Online</a>
                <a data-bind="attr: {href: '/api/site/getpublishingprofile/' + siteJson().id}" class="btn btn-primary btn-lg" target="_blank">Download Publishing Profile</a>
                <a data-bind="attr: {href: siteJson().contentDownloadUrl}" class="btn btn-primary btn-lg" target="_blank">Download Content</a>
                <!--<pre data-bind="text: ko.toJSON(siteJson, null, 2)" style="display: block; width: 90%"></pre>-->
            </div>
            <div style="font-size: 1.5em; padding-top: 10px">git URL: <input data-bind="attr: {value: siteJson().gitUrlWithCreds}" type="text" class="input-lg" readonly="readonly" onclick="this.select();"></div>
        </div>
        <div>
            <h3 class="page-header">4) Get started with a 30 days free trial</h3>
            <a id="try-free" href="http://azure.microsoft.com/en-us/pricing/free-trial/" target="_blank" class="btn btn-lg btn-success" style="width: 200px">Try for free</a>
        </div>
        <div>
            <h3 class="page-header">Learn more</h3>
            <a id="learn" class="btn btn-lg btn-info">Azure Websites Documentation</a>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
<script type="text/javascript" src="/Scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="/Scripts/site.js"></script>