<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script>
        //Firefox auto decodes window.location.hash which breaks the login flow.
        var queryString = location.href.split("#")[1];
        window.location.replace('https://' + window.location.host + '/?' + queryString);
    </script>
</head>
<body>
</body>
</html>
