<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script>
        var queryString = location.hash.substring(1);
        window.location.reload('https://' + window.location.host + '/' + queryString);
    </script>
</head>
<body>
</body>
</html>
