<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ARMClient.Authentication" version="0.0.2-alpha" targetFramework="net452" />
  <package id="Destructurama.JsonNet" version="1.0.2" targetFramework="net452" />
  <package id="Elasticsearch.Net" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Azure.DocumentDB" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Documents.Client" version="0.9.3-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.14.201151115" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common" version="1.4.1" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.WebSites" version="0.9.14-preview" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Serilog" version="1.5.5" targetFramework="net452" />
  <package id="Serilog.Sinks.AzureDocumentDb" version="1.5.4" targetFramework="net452" />
  <package id="Serilog.Sinks.Elasticsearch" version="2.0.60" targetFramework="net452" />
  <package id="Serilog.Sinks.Email" version="1.5.13" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0-beta1" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry" version="4.5.1" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="5.0.0" targetFramework="net452" />
</packages>