@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Try It Now";
}
<section class="wa-section">
    <div class="wa-content wa-content-4up">
        <h2>That didn't work</h2>
        <h3>We're sorry, but your OrgId account doesn't allow access to this app. Please use a different Live account.</h3>
    </div>
</section>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
<script type="text/javascript" src="/Scripts/site.js"></script>