@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Try Azure Websites now";
}
<section class="wa-section">
    <div class="wa-content wa-content-4up">
        <h2>That didn't work</h2>
        <h3>We're sorry, but your corporate account doesn't allow access to this app. </h3> <h3>Please <a href="https://login.windows.net/common/oauth2/logout?post_logout_redirect_uri=https%3a%2f%2ftrywebsites.azurewebsites.net%2f">logout</a> and use a different Microsoft Account (Live Account).</h3>
    </div>
</section>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
<script type="text/javascript" src="/Scripts/site.js"></script>