<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="auth.Enabled" value="true"/>
    <add key="auth.TokenSigningCertificateThumbprints" value=""/>
    <add key="auth.PassiveRequestorEndpoint" value="https://corp.sts.microsoft.com/adfs/ls/"/>
    <add key="auth.Realm" value=""/>
    <add key="auth.CookieEncryptionSymmetricKey" value=""/>
  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <add name="FederatedAuthenticationModule" type="AdfsAuthHelper.FederatedAuthenticationModule, AdfsAuthHelper" />
    </modules>

    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform stdoutLogEnabled="false" stdoutLogFile="suave.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\TryAppServiceAnalytics.exe"
        arguments="%HTTP_PLATFORM_PORT%">
      <environmentVariables>
      </environmentVariables>
    </httpPlatform>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime requestPathInvalidCharacters="" targetFramework="4.5" />
  </system.web>
</configuration>
