<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="auth.Enabled" value="true"/>
    <add key="auth.TokenSigningCertificateThumbprints" value="589F63B2103DA89EDC9A213219B0D6E9C510CB5F,771E4764CB8E798AC49FF69572FDB7DF5861DB29"/>
    <add key="auth.PassiveRequestorEndpoint" value="https://corp.sts.microsoft.com/adfs/ls/"/>
    <add key="auth.Realm" value="urn:trywebsitesanalytics:azurewebsites"/>
    <add key="auth.CookieEncryptionSymmetricKey" value="X5iocS8XBDysz23MeeXR31G2NZHKApvibrQP1mNRfe9="/>
  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <add name="FederatedAuthenticationModule" type="AdfsAuthHelper.FederatedAuthenticationModule, AdfsAuthHelper" />
    </modules>

    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform stdoutLogEnabled="false" stdoutLogFile="suave.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\TryAppServiceAnalytics.exe"
        arguments="%HTTP_PLATFORM_PORT%">
      <environmentVariables>
      </environmentVariables>
    </httpPlatform>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime requestPathInvalidCharacters="" targetFramework="4.5" />
  </system.web>
</configuration>
