@model List<string>

@{
    ViewBag.Title = "Home Page";
}

@section scripts {
<script type="text/javascript">
    $("form").submit(function () {
        $(this).submit(function () {
            return false;
        });
        return true;
    });
</script>
}

<div class="jumbotron">
    <h1>Try Azure Web Sites in seconds!</h1>
    <p class="lead">Choose a template to get started</p>

    @using (Html.BeginForm("CreateSite", "Home", FormMethod.Post))
    {
        foreach (var template in Model) {
        <p><input type="submit" name="template" value="@template" class="btn btn-primary btn-large" /></p>
        }
    }
</div>

